// $color--purple: #663399;
// $color--purple-light: #bba0d6;
// $color--purple-dark: #542c85;

$color--heading: #191A1C;
$color--text: #48484b;
$color--link:#165c9e;
$color--primary-lightest: #ecf2ff;
$color--primary-light: #E5EAFA;
$color--primary: #385dd8;
$color--primary-dark: #191f35;

$color--secondary-lightest: #fff7ec;
$color--secondary-light: #faeee5;
$color--secondary: #E79D2F;
$color--secondary-dark: #352819;

$color--background: #ffffff;

$color--gray-one: #f2f4f7;
$color--gray-two: #e4e9ef;
$color--gray-three: #878e94;
$color--gray-four: #4f5259;
$color--gray-five: #283137;
