@use "../breakpoints" as *;
@use "../shadows" as *;
@use "../colors" as *;

.blog {
  .hero {
    position: relative;
    overflow: visible;
    padding-bottom: 0;

    .container {
      padding-top: 6rem;
      padding-bottom: 0rem;

      @include media-breakpoint-up(lg) {
        margin-bottom: -2rem;
      }
    }

    background: linear-gradient(to bottom right, $color--primary, #27316e 80%);

    svg {
      display: none;

      &.mobile {
        display: block;
      }
    }

    .background {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0%;

      div {
        height: 100%;
        width: 100%;
        position: absolute;
        right: 0;
        mask-repeat: no-repeat;
        mask-size: 100%;
        mask-position: 400% 0;
        -webkit-mask-image: radial-gradient(ellipse at 200% 60%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0.6) 51%, rgba(0, 0, 0, 0) 100%);
        background-color: transparent;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='496' height='496' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23ffffff30' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23ffffff90'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
      }

      z-index: 0;
    }

    h1 {
      margin: 0 auto;
      text-align: center;
      font-weight: 700;
      color: white;
    }
  }

  .posts {
    // padding: 0;

    .col-md-6.col-lg-4 {
      &:last-child {
        padding-bottom: 0;
      }

      @include media-breakpoint-up(md) {
        &:nth-child(5) {
          padding-bottom: 0;
        }
      }

      @include media-breakpoint-up(lg) {
        &:nth-child(4) {
          padding-bottom: 0;
        }
      }
    }

    .post-card {
      height: 100%;
      display: block;
      text-decoration: none;
      margin: 0 auto;
      max-width: 335px;
      background: white;
      border-radius: 5px;
      box-shadow: 1px 2px 4px -1px #18144105, 3px 5px 8px -2px #1b1a2710, 1px 1px 40px -6px #1b1a2710;
      transition: 0.2s;
      // padding: 32px;

      &:hover {
        transform: scale(1.05);
      }

      @include media-breakpoint-up(lg) {
        text-align: left;
        margin: 0;
      }

      img {
        width: 100%;
        margin-bottom: 16px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      h3 {
        padding: 0px 32px;
        margin-top: 0;
        margin-bottom: 8px;
      }

      p {
        padding: 0px 32px;
        margin-bottom: 0;
        font-size: 16px;
        margin: 0;
        margin-bottom: 32px;
      }

      small {
        display: block;
        padding: 0px 32px;
        margin-bottom: 32px;
      }
    }
  }

  .infinite__item.hidden {
    display: none;
  }

  .infinite__item {
    h3,
    .post-card__date {
      transition: 0.2s;
    }

    .tag {
      transition: 0.2s;
    }

    img {
      transition: 0.2s;
    }
  }

  .infinite__item.skeleton {
    .post-card {
      cursor: default !important;
      transform: none !important;

      &:hover {
        transform: none !important;
      }
    }

    h3,
    .post-card__date {
      background: #e7e7e7 !important;
      color: #e7e7e7 !important;
      border-radius: 6px !important;
      position: relative !important;
      overflow: hidden !important;

      &:after {
        width: 200%;
        height: 100%;
        position: absolute;
        content: "";
        display: block;
        top: 0;
        left: 0;
        animation: skeleton 2s infinite forwards;
        background: linear-gradient(to right, #ffffff20, #ffffffaa, #ffffff20);
      }
    }

    .tag {
      background: #ffffff !important;
      color: transparent !important;
      position: relative !important;
      display: block !important;
      overflow: hidden !important;

      &:after {
        width: 200%;
        height: 100%;
        position: absolute;
        content: "";
        display: block;
        top: 0;
        left: 0;
        animation: skeleton 2s infinite forwards;
        background: linear-gradient(to right, #ffffff01, #ffffff20, #ffffff01);
      }
    }

    .post-card__image {
      overflow: hidden !important;
      position: relative;
      background: #e7e7e7;
      aspect-ratio: 16/10.4;

      &:after {
        width: 200%;
        height: 100%;
        position: absolute;
        content: "";
        display: block;
        top: 0;
        left: 0;
        animation: skeleton 2s infinite forwards;
        background: linear-gradient(to right, #ffffff20, #ffffffaa, #ffffff20);
      }
    }

    img {
      display: none;
    }

    .silo__image {
      transform: none !important;
      box-shadow: none !important;
    }

    img[src*="icon--"] {
      display: block;
      transition: 0.2s;
      filter: brightness(400%) grayscale(200%);

      transform: none !important;
    }
  }

  .benefits {
    background: #181c2b;
    position: relative;
    // z-index: 2;

    h2 {
      color: #ffffffea;
      text-align: center;
      margin-bottom: 48px;
    }

    p {
      color: #ffffffd3;
      text-align: center;
    }
  }

  .cta {
    // overflow: visible;
    // margin-top: -22rem;
    // padding-top: 20rem;

    // @include media-breakpoint-up(md) {
    //   margin-top: -20rem;
    // }
    // .background {
    // background-color: #ffffff;
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg fill-opacity='0.07'%3E%3Ccircle fill='%23ffffff' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23e0deff' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23bfbdff' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%239b9eff' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%236e80ff' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%231964ff' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: top center;
    // position: absolute;

    background: #fefdff;

    @include media-breakpoint-up(lg) {
      background-size: contain;
    }
    // }

    h2 {
      text-align: center;
      margin-top: 0;
      margin-bottom: 48px;
      // color: white;
    }

    .section-description {
      text-align: center;
    }

    .card {
      background: white;
      margin: 0 auto;
      max-width: 500px;
      border-radius: 5px;
      box-shadow: 1px 2px 4px -1px #18144105, 3px 5px 8px -2px #1b1a2710, 1px 1px 40px -6px #1b1a2710;
      padding: 32px;

      [class*="col-"] {
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      input[type="text"],
      input[type="button"],
      input,
      input[type="submit"] {
        -webkit-appearance: none !important;
        -webkit-border-radius: 0;
      }

      label {
        width: 100%;
        color: $color--heading;
        font-family: "Nunito Sans";
        font-weight: 600;
        font-size: 18px;

        span {
          color: rgb(238, 63, 20);
        }

        &.mt {
          margin-top: 8px;
        }

        label {
          width: fit-content;
          display: flex;
          align-items: center;
          font-size: 17px;
          font-family: "Poppins";
          font-weight: 300;

          input {
            margin-right: 8px;
            width: fit-content;
            margin-top: 0;
          }
        }
      }

      input[type="text"],
      input[type="email"],
      textarea {
        width: 100%;
        border: 1px solid #dedfe2;
        border-radius: 3px;
        padding: 12px 16px;
        display: block;
        color: $color--text;
        margin-top: 8px;
        transition: border 0.2s;
        font-size: 16px;

        &::placeholder {
          color: $color--text;
          opacity: 0.6;
        }

        &:focus {
          border-color: $color--primary;
          outline: none;
        }
      }

      textarea {
        min-height: 130px;
        resize: vertical;
      }

      .btn {
        margin-top: 16px !important;
        width: 100% !important;
        cursor: pointer !important;
      }

      .subtext {
        color: $color--text;
        font-size: 16px;
        font-family: "Nunito Sans";
        margin-top: 24px;
        margin-bottom: 0;
        line-height: 20px;
      }
    }
  }
}
