@use "../breakpoints" as *;
@use "../shadows" as *;
@use "../colors" as *;

.contact {
    .hero {
        background: $color--primary-lightest;
        overflow: visible;
        // padding-bottom: 324px;
        padding-top: 124px;
        position: relative;

        @include media-breakpoint-up(md) {
            padding-top: 170px;
            // padding-bottom: 324px;
        }

        @include media-breakpoint-up(xl) {
            // padding-bottom: 424px;
        }

        .col-lg-8 {
            margin: 0 auto;
            max-width: 700px;
        }

        .container {
            padding-bottom: 0;
            padding-top: 0;
        }

        a.btn {
            margin: 12px auto;
        }

        p {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 16px;
            max-width: 769px;
            text-align: center;

            @include media-breakpoint-up(md) {
                font-size: 1.159rem;
                line-height: 28px;
            }
        }

        h1 {
            color: $color--heading;
            font-size: 48px;
            font-weight: 600;
            line-height: 56px;
            margin-bottom: 24px;
            margin-top: 0;
            text-align: center;

            @include media-breakpoint-up(md) {
                font-size: 57px;
                line-height: 66px;
                margin-bottom: 32px;
            }
        }

        @include media-breakpoint-up(lg) {
            h1,
            h2,
            p,
            a {
                text-align: left !important;
                margin-left: 0;
                width: fit-content;
            }

            a {
                width: fit-content !important;
                margin-left: 0 !important;
            }
        }
    }

    .request-storage-access {
        justify-content: flex-start !important;
        margin: 0 !important;
    }

    .cta {
        // margin-top: calc(-100px + 7rem);
        overflow: visible;
        // padding-bottom: 150px;
        position: relative;

        @include media-breakpoint-up(md) {
            padding-bottom: 200px;
        }

        @include media-breakpoint-up(lg) {
            // margin-top: 10px;
            padding-top: 0;
        }

        .white {
            background: white;
            // padding-top: 60px;
        }

        img[src*="circle"] {
            bottom: 99%;
            left: 0;
            max-width: 99999px;
            position: absolute;
            width: 100%;
        }

        .blob {
            left: -15rem;
            opacity: 0.6;
            position: absolute;
            top: -5rem;
            width: 500px;

            @include media-breakpoint-up(md) {
                opacity: 0.9;
            }

            @include media-breakpoint-up(lg) {
                opacity: 1;
                top: -9rem;
                width: 600px;
            }
        }

        .blobs {
            opacity: 0.6;
            position: absolute;
            right: -15rem;
            top: 5rem;
            transform: scaleY(-1);
            width: 500px;

            @include media-breakpoint-up(md) {
                opacity: 0.9;
            }

            @include media-breakpoint-up(lg) {
                opacity: 1;
                top: 3rem;
                width: 600px;
            }
        }

        p.display {
            color: white;
        }

        h2 {
            color: white;
            margin-bottom: 48px;
            margin-top: 0;
            text-align: center;

            @include media-breakpoint-up(md) {
                margin-bottom: 64px;
            }
        }

        .section-description {
            text-align: center;
        }

        .card {
            background: white;
            border-radius: 8px;
            border: 1px solid #e6e6e6;
            box-shadow: 2px 2px 40px 0px #44455510;
            margin: 0 auto;
            margin-top: -18rem;
            max-width: 500px;
            padding: 32px;

            @include media-breakpoint-up(md) {
                padding: 64px;
            }

            @include media-breakpoint-up(xl) {
                margin-top: -24rem;
            }

            input[type="text"],
            input[type="button"],
            input,
            input[type="submit"] {
                appearance: none !important;
                -webkit-appearance: none !important;
            }

            ::placeholder {
                font-size: 1.03rem;
            }

            label {
                color: #191a1c;
                display: block;
                font-family: "Poppins";
                font-size: 1.03rem;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
                margin-bottom: 16px;
                width: 100%;

                span {
                    color: rgb(192, 46, 10);
                }

                &.mt {
                    margin-top: 8px;
                }
            }

            input[type="text"],
            input[type="email"],
            textarea {
                border: 1px solid #e5eafa;
                border-radius: 8px;
                box-sizing: border-box;
                color: $color--text;
                display: block;
                margin-top: 8px;
                padding: 10px 16px 13px;
                width: 100%;

                &::placeholder {
                    color: $color--text;
                    opacity: 0.6;
                }

                &:focus {
                    border-color: $color--primary;
                    outline: none;
                }
            }

            textarea {
                min-height: 130px;
                resize: vertical;
            }

            .btn {
                cursor: pointer !important;
                margin-bottom: 12px;
                margin-top: 16px !important;
                width: 100% !important;
            }

            .subtext {
                color: $color--text;
                font-family: "Poppins";
                font-size: 1.03rem;
                font-weight: 300;
                line-height: 28px;

                a {
                    color: $color--link;
                    font-weight: 300;
                }
            }
        }
    }
}

.request-storage-access {
    justify-content: flex-start !important;
    margin: 0 !important;
}
