@use "../breakpoints" as *;
@use "../shadows" as *;
@use "../colors" as *;

.home {
  .hero {
    padding-top: 8rem;
    position: relative;
    overflow: visible;

    @include media-breakpoint-up(md) {
      padding-top: calc(9rem);
    }

    text-align: center;

    &:before {
      position: absolute;
      width: 80vw;
      height: 80vw;
      max-width: 500px;
      max-height: 500px;
      filter: blur(50px);
      // padding-top: 100%;
      content: "";
      display: block;
      left: -2rem;
      transform: rotate(180deg);
      bottom: 0rem;
      border-radius: 999px;

      top: -4rem;
      display: none;

      @include media-breakpoint-up(md) {
        filter: blur(100px);
        left: -5vw;
        top: 70%;
        display: block;
      }

      @include media-breakpoint-up(lg) {
        left: -5vw;
        top: 70%;
      }

      background-color: #ffffff;
      background-image: url("data:image/svg+xml,%3Csvg opacity='.3' xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23385dd8'/%3E%3Cstop offset='1' stop-color='%23385dd8' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23b0ffad'/%3E%3Cstop offset='1' stop-color='%23b0ffad' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23385dd8'/%3E%3Cstop offset='1' stop-color='%23385dd8' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23385dd8'/%3E%3Cstop offset='1' stop-color='%23385dd8' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23385dd8'/%3E%3Cstop offset='1' stop-color='%23385dd8' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23ffffff' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
      // background-attachment: fixed;
      background-size: cover;
    }

    &:after {
      position: absolute;
      width: 50vw;
      height: 50vw;
      max-width: 300px;
      max-height: 300px;
      filter: blur(80px);
      // padding-top: 100%;
      content: "";
      display: none;

      @include media-breakpoint-up(lg) {
        display: block;
      }
      right: 0;
      top: 0;
      border-radius: 999px;
      background-color: #ffffff;
      background-image: url("data:image/svg+xml,%3Csvg opacity='.3' xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23385dd8'/%3E%3Cstop offset='1' stop-color='%23385dd8' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23b0ffad'/%3E%3Cstop offset='1' stop-color='%23b0ffad' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23385dd8'/%3E%3Cstop offset='1' stop-color='%23385dd8' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23385dd8'/%3E%3Cstop offset='1' stop-color='%23385dd8' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23385dd8'/%3E%3Cstop offset='1' stop-color='%23385dd8' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23385dd8'/%3E%3Cstop offset='1' stop-color='%23385dd8' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
      // background-attachment: fixed;
      background-size: cover;
    }

    h1 {
      margin-bottom: 32px;
      margin-top: 0;
      font-weight: 700;
      // color: white;
    }

    p {
      margin-bottom: 32px;
      margin-top: 0;
      // color: white;
    }

    .btn {
      margin-right: 24px;
      display: inline-block;

      &.outlined {
        margin: 0;
      }
    }
  }

  .services {
    h2 {
      text-align: center;
      margin-top: 0;
      margin-bottom: 16px;

      @include media-breakpoint-up(md) {
        margin-bottom: 24px;
      }
    }

    p.display {
      font-size: 17px;
      font-weight: 600;
      color: $color--primary;
      text-align: center;
      margin-top: 0;
      margin-bottom: 12px;
    }

    .section-description {
      text-align: center;
      margin-bottom: 48px;
    }

    .service {
      max-width: 350px;
      background: white;
      border-radius: 5px;
      box-shadow: 1px 2px 4px -1px #18144105, 3px 5px 8px -2px #1b1a2710, 1px 1px 40px -6px #1b1a2710;
      padding: 32px;
      height: 100%;

      img {
        margin-bottom: 24px;
        width: 36px;
      }

      h3 {
        margin-top: 0;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}
